@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
  --border: #E2E8F0;
  --footer: #333;
  --yellow: #FFC700;
  --gray: #707070;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.max-width {
  @apply mx-auto max-w-[942px] w-full px-[5px];
}



hr {
  border-color: var(--border);
}

.heart-image {
  filter: invert(28%) sepia(96%) saturate(7498%) hue-rotate(358deg) brightness(107%) contrast(112%);
}
